FAP_Management_Protocol_Client/.idea/
FAP_Management_Protocol_Client/bin/production/FAP_Management_Protocol_Client/FapManagementProtocolClient/FapManagementProtocol_Client.class
FAP_Management_Protocol_Client/bin/production/FAP_Management_Protocol_Client/FapManagementProtocolClient/GpsCoordinates.class
FAP_Management_Protocol_Client/bin/production/FAP_Management_Protocol_Client/FapManagementProtocolClient/ProtocolMsgType.class
FAP_Management_Protocol_Client/bin/test/FAP_Management_Protocol_Client/test/Test_FapManagementProtocol_Client.class
